@model WGMVC.WgProduct

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to Discontinue this?</h3>
<fieldset>
    <legend>WgProduct</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">ImageUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

    <div class="display-label">WGCategory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WGCategory.Name)
    </div>

    <div class="display-label">WGVendor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WGVendor.Name)
    </div>

    <div class="display-label">WGStatu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WGStatu.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
